<!--The content below is only a placeholder and can be replaced.-->


<app-customer-list [childKegList]="masterKegList"></app-customer-list>




<!-- Employee View -->
<div *ngIf="employee === true">

  <h2>These Kegs are Low on Booch!!!</h2>
    <div *ngFor= "let keg of kegList">
      <div *ngIf="keg.lowPints===true">
        <h3>{{keg.name}}</h3>
      </div>
    </div>


  <ul>
    <li *ngFor="let kombucha of kegList"> {{kombucha.name}} /
      {{kombucha.flavor}} /
      {{kombucha.price}} /
      {{kombucha.brand}} /
      No Pints Left: {{kombucha.pints}}
      <button (click)="editBooch(kombucha)">Edit!</button>
      <button (click)="servePint(kombucha)">Serve Pint!</button>
    </li>
  </ul>



  <label>Change Bootch Name:</label>
  <input [(ngModel)]="selectedBooch.name">
  <label>Change Bootch Flavor:</label>
  <input [(ngModel)]="selectedBooch.flavor">
  <label>Change Bootch Price:</label>
  <input [(ngModel)]="selectedBooch.price" type="number">
  <label>Change Bootch Brand:</label>
  <input [(ngModel)]="selectedBooch.brand">
    <h2>Booch Form</h2>
    <h3>Fill in the form below to add a new Kombucha to the list</h3>
    <form>
    <label for="kombuchaName"></label>
    <input [(ngModel)]="kombuchaName" type="text" name="kombucha" value=""placeholder="Kombucha Name">
    <label for="kombuchaFlavor"></label>
    <input [(ngModel)]="kombuchaFlavor" type="text" name="kombucha" value=""placeholder="Kombucha Flavor">


    <label for="kombuchaPrice"></label>
    <input [(ngModel)]="kombuchaPrice" type="number" name="kombucha" value=""placeholder="Kombucha Price">
    <label for="kombuchaBrand"></label>
    <input [(ngModel)]="kombuchaBrand" type="text" name="kombucha" value=""placeholder="Kombucha Brand">
    <button (click)="addNewBooch(kombuchaName,kombuchaBrand,kombuchaPrice,kombuchaFlavor)">Add New Kombucha</button>

    <!-- <h3>{{kombuchaName}}</h3>
    <h3>{{kombuchaFlavor}}</h3>
    <h3>{{kombuchaPrice}}</h3>
    <h3>{{kombuchaBrand}}</h3> -->
    </form>
  </div>
