<title>The Kombucha TapRoom!</title>
<h1>{{title}}</h1>
<h2>What's on tap?</h2>
<ul>
  <li *ngFor="let kombucha of childKegList"><h3>{{kombucha.name}}</h3><br>
    <p>{{kombucha.flavor}}</p> <br>
    <p [class]="priceColor(kombucha)">${{kombucha.price}}</p> <br>
    <p><em>Brought to you by - </em>{{kombucha.brand}}</p> <br>
    <p>Number of Pints left in Keg: {{kombucha.pints}}</p>
    <!-- <button (click)="editBooch(kombucha)">Edit!</button>
    <button (click)="servePint(kombucha)">Serve Pint!</button> -->
  </li>
</ul>
<button (click)="loginButtonClicked()">Employee Login</button>
